<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    
    <!-- Main Pages Sitemap -->
    <sitemap>
        <loc>https://buddyskincare.vn/sitemap_pages.xml</loc>
        <lastmod>{{ current_date }}</lastmod>
    </sitemap>
    
    <!-- Products Sitemap -->
    <sitemap>
        <loc>https://buddyskincare.vn/sitemap_products.xml</loc>
        <lastmod>{{ current_date }}</lastmod>
    </sitemap>
    
    <!-- Blog/News Sitemap -->
    <sitemap>
        <loc>https://buddyskincare.vn/sitemap_blog.xml</loc>
        <lastmod>{{ current_date }}</lastmod>
    </sitemap>
    
    <!-- Categories Sitemap -->
    <sitemap>
        <loc>https://buddyskincare.vn/sitemap_categories.xml</loc>
        <lastmod>{{ current_date }}</lastmod>
    </sitemap>
    
    <!-- Static Pages Sitemap -->
    <sitemap>
        <loc>https://buddyskincare.vn/sitemap_static.xml</loc>
        <lastmod>{{ current_date }}</lastmod>
    </sitemap>
    
</sitemapindex>